@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	::selection {
		background: rgba(248, 113, 113, 0.35);
		color: white;
	}
}
